.Rproj.user
.Rhistory
.RData
.Ruserdata
TadnollFeedingevents.xlsx
tadnoll pred prey biomass.csv
warburton.csv
BroadstoneData_AERv45ch3.csv
ms
notes for code archiving
old_scripts
Pomeranz_2020_Ecology_example
dryad
eyeball