B~gradient.png
C~gradient.png
Gen~gradient.png
I~gradient.png
L~gradient.png
Niche_forbid_taxa.csv
S_C_Values.csv
S_stats_table.xlsx
S~gradient.png
Table_S_C_Values.xlsx
T~gradient.png
Vul~gradient.png
fig_1.tiff
fig_2.tiff
fig_3.tiff
fw_meas_stat_results.xlsx
stability_stats_results.xlsx
s~R_str_R_strenth.png
s~correlated.png
s~random.png
s~s_c.png
s~scaled.png
